@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
        --primary-color:#ff7613;
        --text-color: #727171;
}
html{
    font-size: 10px;
}
body{
    font-family: Inter,sans-serif;
    background-color: black;
    color: white;
    background:url(./img2.jpg) no-repeat;
    background-size: cover;
}

/* Profile Section */
/* layouts */
.container{
    max-width: 1000px;
    width: 70%;     
    margin: 3rem auto;
    display: grid;
    padding: 5rem;
    background: black;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    box-shadow: 0px 0px 15px 0px #13c6dd;
}
@media only screen and (max-width: 760px){
    .container{
        width: 90%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
}
/* Profile */    
.profile{
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}
.profile_container{
    display: flex;
    gap: 2rem;
} 
.profile_profileImg{
    max-width: 250px;
}
.firstName{
    color: white;
    font-weight: 500;
    font-size: clamp(2rem,8vm,4rem);
    text-transform: uppercase;
    display: block;
}
.lastName{
    color: var(--primary-color);
    font-weight: 700;
    font-size: clamp(2.5rem, 15vm,7rem);
    display: block;
    text-transform: uppercase;
}
.profile_title{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}
img{
    width: 100%;
    box-shadow: 0 0 15px 0 orange;
}
.description{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}
.downloadBtn{
    display: block;
    text-decoration: underline;
    font-size: 1.6rem;
    margin-top: 5rem;
    margin-left: 13rem;
    color: white;
}
.downloadBtn:hover{
    color: var(--primary-color);
}
@media only screen and (max-width:760px){
    .profile_container{
        flex-direction: column;
    }
    img{
        margin-left: 5rem;
    }
}
hr{
    grid-column: 1/-1;
    width: 100%;
    margin: 0 auto;
    border: none;
    border-top: 2px solid rgba(128, 128, 128, 0.397);
}
@media only screen and (max-width:760px){
    hr{
        margin: 0 auto;
    }
}
.group-1
.group-2{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.group-1{
    width: 80%;
}


/* Contact */
.title{
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 3rem;
    margin-top: 5rem;
}

.contact ul{
    position: relative;
}
.contact ul li{
    position: relative;
    list-style: none;
    margin: 10px 0px;
    cursor: pointer;
}
.icon{
    display:inline-block;
    width: 5rem;
    font-size: 2.5rem;
    color: #03a9f4;
}
/* Skills */
.skills{
    margin-bottom: 50px;
}
.skills:last-child{
    margin-bottom: 0;
}
.skills .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .box h4{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
    font-size: 1.5rem;
}
.skills .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}
.box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
@media screen and (max-width:600px){
    .skills .box{
        flex-direction: column;
    }
    .skills .box{
        grid-template-columns: repeat(1,1fr);
    }
}
/* Language */
.contact.language .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
 }
 .contact.language .percent div{
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     background: #03a9f4;
 }
 .right-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2F80ED;
    margin-bottom: 1.2rem;
    position: relative;
}
/* Education */
.edu_items{
    margin-top: 2rem;
}
.title{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 3rem;
}
.item_preTitle{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
}
.item_title{
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
    margin: 0.8rem 0;
}
.item_subTitle{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}
/* Interests */
.interest_items{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.interest_item{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--text-color);
}
/* Soft Skills */
.soft_skills ul li{
    position: relative;
    list-style: none;
    margin: 10px 0px;
    cursor: pointer;
    text-transform: uppercase;
}